$yellow: #f5bd10;
$red: #ff0000;
$new-red: #e61010;
$green: #0685ca;
$silver: #acacac;
$black: #202020;
$black-dark: #252525;
$font-dark: #363636;
$font-dark-light: #acacac;
$border-color: rgba(255,255,255,.1);
$bg-dark-light: #f7f7f7;