$white: #fff;
$yellow-dark: #c6990e;
$yellow: #f5bd10;
$red: #ff0000;
$red-light: #fe6d4c;
$new-red: #e61010;
$green: #0685ca;
$silver: #acacac;
$black: #202020;
$black-dark: #252525;
$font-dark: #363636;
$font-dark-light: #acacac;
$bg-dark-light-transparent: #acacac8c;
$border-color: rgba(255,255,255,.1);
$bg-dark-light: #f7f7f7;
$facebook-color: #5776cd;